<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MPCS-Lab5-Consumer/src/main/java/camelinaction/Consumer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="camelinaction.Consumer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MPCS-Lab5-Consumer"/>
</launchConfiguration>
